Package: com.flobul.batterydata
Name: batterydata
Version: 0.1.0
Architecture: iphoneos-arm
Description: Prints battery data from IOKit
Maintainer: Flobul
Author: Flobul
Section: System
Tag: role::hacker
